<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <script>
        async function init(){
            const { data } = await axios.get('https://snake-js-a6bef.firebaseio.com/players.json')
            console.log(data)
        }
        init()
    </script>
</body>
</html>